

.bigicon {
    font-size: 35px;
    color: black;
    text-shadow: 2px 4px $color-principal; }
  
  .header {
    font-family: 'Changa', sans-serif;
    font-size: 35px;
    color: black;
    text-shadow: 2px 4px $color-principal; }
  
  .btn {
    margin-bottom: 60px;
    color: $color-principal; }
  
  .btn-primary {
    background-color: black; }